.project_card{
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 25px 25px;
    border-radius: 1.7rem;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.project_picture{
    display: block;
	width: 530px;
	height: 310px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
    border-radius: 1.7rem;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}


.project_picture img{
	width: 100%;
	height: fit-content;
	position: absolute;
	z-index: 0;
    margin:0;
    padding:0;
    top: 0;
    transform: translateY(0%);
    transition: transform 10s ease-in-out 0s;
}

.project_picture:hover img{
    /* transform: translateY(-266.5px) */
} 

.project_info{
    display: flex;
    flex-direction: column;
}

.project_info .project_title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    color: #2D2E32;
}

.project_info .project_title .project_date{
    font-size: 14px;
    color: #151313;
    font-weight: 600;
}


.project_info .project_description{
    margin-top: 20px;
    width: 40ch;
    text-align: center;
    color: #767676;
}

.project_info .project_code{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.project_info .project_code div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project_info .project_tech{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.project_info .project_tech div{
    width: fit-content;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    color: #000;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    padding: 1rem 1.3rem;
    font-size: 17px;
}