.about_main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 500px;
    gap: 100px;
    background-color: white;
    padding: 130px 0;
}

.about_text{
    display: flex;
    flex-direction: column;
}

.about_text .section{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    color:#147EFB;
}

.about_text .title{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color:#2D2E32;
    max-width: 24ch;
    margin-top: 10px;
}

.about_text .description{
    max-width: 45ch;
    color: #767676;
    margin-top: 15px;
}

.about_img{
    width: 410px;
    border-radius: 16px;
}



@media (max-width:1050px) {
    .about_main{
        flex-direction: column;
        margin-top: 420px;
        gap: 50px;
        padding: 70px 0;
    }

    .about_img{
        width: 90vw;
        max-width: 370px;
    }

    .about_text{
        align-items: center;
    }

    .about_text .description{
        width: 85vw;
        max-width: 42ch;
        text-align: center;
        font-size: 15px;
    }

    .about_text .title{
        width: 90vw;
        font-size: 22px;
        margin-top: 8px;
        text-align: center;
    }

    .about_text .section{
        font-size: 16px;
        text-align: center;
    }
}