header{
    /* flex treats a layout as one dimensional, it being a row or a colum  */
    display: flex;
    /* push the first and last items to the far left and far right
       while maintaining  the items in between centered */
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    background-color: white;
    color: black;
    
    -webkit-box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
    -moz-box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
    box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);

    position: fixed;

    /* prevents absolute imgs on top of the header */
    z-index: 99;    
    width: 100%;
}

.logo{
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    font-weight: 800;
}

.nav-links{
    display: flex;
    flex-direction: row;
    list-style: none;
    cursor: pointer;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li{
    transition: all 0.3s ease 0s;
    font-weight: 600;
}

.nav-links li:hover{
    color: #0088a9;
}

.button {
    padding: 9px 25px;
    background-color: #0088a9;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.button:hover{
    background-color: #0c4958;
}



.menu-icon {
    display: none;
}
  
.mobile_menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transform: translateX(-100%); 
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 100;  
  transition: all 0.2s ease-in-out; 
}

.mobile_menu.active{
  visibility: visible;
  transition: all 0.2s ease-in-out; 
  transform: translateX(0%);
}

.mobile_menu .menu_links{
  display: flex;
  flex-direction: column;
  gap: 4rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 23px;
  list-style: none;
  text-align: center;
  cursor: pointer;
}

.mobile_menu .close_btn{
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  cursor: pointer;
}


@media (max-width: 1050px) {
    .nav-links {
      display: none;
    }
  
    .menu-icon {
      display: block;
      font-size: 28px;
      cursor: pointer;
    }
  }